body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f6fa;
  color: #333;
}

header {
  background-color: #ffffff;
  color: rgb(238, 78, 78);
  text-align: center;
  padding: 20px;
}

section {
  background-color: #e0f7fa;
  color: #333333;
  font-size: 1.25em;
  padding: 20px;
}
